<div class="row">
  <form class="col s12" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" formControlName="name">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input id="telephone" type="text" class="validate" formControlName="telephone">
        <label for="telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" class="validate" formControlName="email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
