<div class="row">
  <div class="col s12">
    <div class="input-field">
      <input id="search" type="text" class="validate" [(ngModel)]="filter">
      <label for="search">Search</label>
    </div>
  </div>
  <div class="col s12">
    <table class="highlight centered">
      <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let contact of search()">
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.telephone }}</td>
          <td>
            <a class="btn-floating btn-large waves-effect waves-light blue" title="Edit" (click)="updateContact(contact)"><i class="material-icons">mode_edit</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red" title="Delete" (click)="delete(contact)"><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>